<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="res/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>COVID 19 TRACKER</title>
</head>

<body>
    <section id="dashboard">
        <div class="bg parent">
            <div class="row col-12">
                <div class="container">
                    <div class="card-deck">
                        <div class="card text-center shadow bg-black" style="border-radius:15px">
                            <div class="card-block p-3">
                                <h4 class="card-title">ACTIVE CASES</h4>
                                <p class="card-text" style="color:blue;">
                                    <%= active %>
                                </p>
                            </div>
                        </div>
                        <div class="card text-center shadow bg-black" style="border-radius:15px">
                            <div class="card-block p-3">
                                <h4 class="card-title">DISCHARGED</h4>
                                <p class="card-text active-case discharged" style="color:green;">
                                    <%= discharged %>
                                </p>
                            </div>
                        </div>
                        <div class="card text-center shadow bg-black" style="border-radius:15px">
                            <div class="card-block p-3">
                                <h4 class="card-title">DEATHS</h4>
                                <p class="card-text death" style="color:red;">
                                    <%= deaths %>
                                </p>
                            </div>
                        </div>
                        <div class="card text-center shadow bg-black" style="border-radius:15px">
                            <div class="card-block p-3">
                                <h4 class="card-title">MIGRATED</h4>
                                <p class="card-text" style="color:darkslategray;">
                                    <%= migrated %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
